In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the data
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7088 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   7088 non-null   object
 1   HomePlanet    7088 non-null   object
 2   CryoSleep     7088 non-null   object
 3   Cabin         7088 non-null   object
 4   Destination   7088 non-null   object
 5   Age           7088 non-null   float64
 6   VIP           7088 non-null   bool
 7   RoomService   7088 non-null   float64
 8   FoodCourt     7088 non-null   float64
 9   ShoppingMall  7088 non-null   float64
 10  Spa           7088 non-null   float64
 11  VRDeck        7088 non-null   float64
 12  Name          7088 non-null   object
 13  Transported   7088 non-null   bool
dtypes: bool(2), float64(6), object(6)
memory usage: 733.7+ KB

In [11]:
#df.isna().sum().sum()     # np.int64(2324)
df.isna().sum()

PassengerId       0
HomePlanet        1
CryoSleep       217
Cabin           199
Destination       1
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [12]:
 df = df.dropna(axis=0)    # resterait : 6606 entries, from  0 to 8692
# df.duplicated().sum()      # 0

In [6]:
df.HomePlanet.value_counts(),df.Destination.value_counts(),df.VIP.value_counts()

(HomePlanet
 Earth     4602
 Europa    2131
 Mars      1759
 Name: count, dtype: int64,
 Destination
 TRAPPIST-1e      5915
 55 Cancri e      1800
 PSO J318.5-22     796
 Name: count, dtype: int64,
 VIP
 False    8291
 True      199
 Name: count, dtype: int64)

In [7]:
df.HomePlanet =  df.HomePlanet.map({"Earth": 0, "Europa": 1, "Mars":2})
df.Destination = df.Destination.map({"TRAPPIST-1e": 0, "55 Cancri e": 1, "PSO J318.5-22":2})
df.VIP = df.VIP.map({False: 0, True: 1})
df.HomePlanet = df.HomePlanet.fillna("-1")
df.Destination = df.Destination.fillna("-1")
df.VIP = df.VIP.fillna("-1")

In [8]:
df.HomePlanet = df.HomePlanet.astype(float)
df.Destination = df.Destination.astype(float)
df.VIP = df.VIP.astype(float)

df.loc[df.HomePlanet==-1, "HomePlanet"] = pd.NA
df.loc[df.Destination==-1, "Destination"] = pd.NA
df.loc[df.VIP==-1, "VIP"] = pd.NA

In [9]:
from sklearn.impute import SimpleImputer, KNNImputer
KNN_imputer_cat = KNNImputer(n_neighbors=1)
imputer_categorical =  ["HomePlanet","Destination","VIP"]    # df.select_dtypes(include=['object'])

X_KNN_cat = KNN_imputer_cat.fit_transform(df.HomePlanet.values.reshape(-1,1))
df[imputer_categorical] = KNN_imputer_cat.fit_transform(df[imputer_categorical].values.reshape(-1,3))

In [10]:
df.HomePlanet =  df.HomePlanet.map({ 0: "Earth", 1: "Europa", 2: "Mars"})
df.Destination = df.Destination.map({ 0 : "TRAPPIST-1e", 1: "55 Cancri e" , 2: "PSO J318.5-22"})
df.VIP = df.VIP.map({ 0 : False, 1: True})
df.HomePlanet = df.HomePlanet.astype(object)
df.Destination = df.Destination.astype(object)
df.VIP = df.VIP.astype(bool)

In [ ]:
df["age"] = df["Age"].fillna(df["Age"].mean())
df["RoomService"] = df["RoomService"].fillna(df["RoomService"].mean())
df["FoodCourt"] = df["FoodCourt"].fillna(df["FoodCourt"].mean())
df["ShoppingMall"] = df["ShoppingMall"].fillna(df["ShoppingMall"].mean())
df["Spa"] = df["Spa"].fillna(df["Spa"].mean())
df["VRDeck"] = df["VRDeck"].fillna(df["VRDeck"].mean())

'\nRoomService     181\nFoodCourt       183\nShoppingMall    208\nSpa             183\nVRDeck          188\n'