# Storage on the Cloud

If you want to use a service account you should create it and give him the appropriate right, follow : 
* https://cloud.google.com/iam/docs/service-accounts-create

In [2]:
! tree

.
├── Storage on the Cloud.ipynb
├── credentials
│   └── service-account.json
└── model.pkl

2 directories, 3 files

## Cloud Storage

[READ THE DOC](https://cloud.google.com/appengine/docs/legacy/standard/python/googlecloudstorageclient/read-write-to-cloud-storage#writing_to)

In [3]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
import pickle

In [4]:
X,y = load_iris(return_X_y=True)
model =LogisticRegression(max_iter=10_000)
model.fit(X,y)

with open("model.pkl","wb") as f :
    pickle.dump(model,f)

In [5]:
# Imports the Google Cloud client library
from google.cloud import storage

# Instantiates a client

storage_client = storage.Client.from_service_account_json("credentials/service-account.json")
#storage_client = storage.Client()

bucket_name = "my-awesome-bucket-batch551"

In [6]:
def write(bucket_name, blob_name,mode):
    """Write and read a blob from GCS using file-like IO"""


    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(blob_name)

    with blob.open(mode) as f:
        pickle.dump(model,f)
        
    print("✅ Model Saved to GCS")

        

write(bucket_name,"model","wb")

✅ Model Saved to GCS

## BigQuery 
Bigquery sample : [READ THE DOC](https://cloud.google.com/bigquery/docs/samples?language=python)

In [7]:
from google.cloud import bigquery

client = bigquery.Client.from_service_account_json("credentials/service-account.json")
project = "mlflowserverbatch55-eb77"
dataset_id = "myawesomeadataset"

dataset_ref = bigquery.DatasetReference(project, dataset_id)
table_ref = dataset_ref.table("students")
table = client.get_table(table_ref)

df = client.list_rows(table).to_dataframe()
df.head()

,id_,first_name,last_name,batch,birth_year,birthdate,Language,linkedIN
0,1,Steve,Jobs,1,1955,1955-08-11,EN,None
1,2,Michael,Jackson,1,1958,1958-01-28,EN,None
2,3,Vincent,Luciani,1,1980,1980-04-26,FR,vincent-luciani-51653016
3,4,Yann,LeCun,5,1960,1960-04-19,FR,yann-lecun
4,5,bernard,ourghanlian,5,1947,1947-12-05,FR,bernardourghanlian